{{ if and (eq .chezmoi.os "linux") (not (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "omarchy"))) -}}
#!/bin/bash
set -euo pipefail

if command -v bw &>/dev/null; then
    exit 0
fi

sudo snap install bw

{{ end -}}
