{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

if command -v snap &>/dev/null; then
    exit 0
fi

if [ -f /etc/debian_version ]; then
    sudo apt-get update
    sudo apt-get install -y snapd
elif [ -f /etc/fedora-release ]; then
    sudo dnf install -y snapd
    sudo systemctl enable --now snapd.socket
    sudo ln -sf /var/lib/snapd/snap /snap
fi

{{ end -}}
