{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

ansible-galaxy collection install -r ~/.bootstrap/requirements.yml
ansible-galaxy role install -r ~/.bootstrap/requirements.yml
ansible-playbook ~/.bootstrap/setup.yml --ask-become-pass \
  --extra-vars "install_slack={{ .installSlack }} install_discord={{ .installDiscord }} install_jetbrains_toolbox={{ .installJetbrainsToolbox }} register_wireguard={{ .registerWireguard }}"

echo "Ansible setup complete."

{{ end -}}
