{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUser := promptStringOnce . "githubUser" "GitHub username" -}}

verbose = true
progress = true

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    githubUser = {{ $githubUser | quote }}
