{{- /* Downloaded declaratively by chezmoi (replaces the Ansible clone/download tasks).
       oh-my-zsh, its plugins and tmux plugins are for everyone; the eza completion and Nerd Fonts
       are skipped on Arch/Omarchy, whose eza and ttf-jetbrains-mono-nerd packages already provide them. */ -}}
[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

[".config/tmux/plugins/catppuccin/tmux"]
    type = "archive"
    url = "https://github.com/catppuccin/tmux/archive/refs/tags/{{ .externals.catppuccinTmuxVersion }}.tar.gz"
    stripComponents = 1

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

{{ range $name := list "zsh-autosuggestions" "zsh-syntax-highlighting" -}}
["oh-my-zsh-customization/plugins/{{ $name }}"]
    type = "archive"
    url = "https://github.com/zsh-users/{{ $name }}/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

{{ end -}}
{{ if ne (includeTemplate "osFamily" .) "arch" -}}
[".local/share/eza/completions/zsh/_eza"]
    type = "file"
    url = "https://raw.githubusercontent.com/eza-community/eza/main/completions/zsh/_eza"
    refreshPeriod = "168h"

{{ range .externals.nerdFonts -}}
[".local/share/fonts/NerdFonts/{{ .name }}"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $.externals.nerdFontsVersion }}/{{ .name }}.zip"
    include = [{{ .include | quote }}]

{{ end -}}
{{ end -}}
