{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUser := promptStringOnce . "githubUser" "GitHub username" -}}
{{- $installSlack := promptBoolOnce . "installSlack" "Install Slack" -}}
{{- $installDiscord := promptBoolOnce . "installDiscord" "Install Discord" -}}
{{- $installJetbrainsToolbox := promptBoolOnce . "installJetbrainsToolbox" "Install JetBrains Toolbox" -}}
{{- $installClaudeCode := promptBoolOnce . "installClaudeCode" "Install Claude Code CLI" -}}
{{- $installTailscale := promptBoolOnce . "installTailscale" "Install Tailscale" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    githubUser = {{ $githubUser | quote }}
    installSlack = {{ $installSlack }}
    installDiscord = {{ $installDiscord }}
    installJetbrainsToolbox = {{ $installJetbrainsToolbox }}
    installClaudeCode = {{ $installClaudeCode }}
    installTailscale = {{ $installTailscale }}

[edit]
    command = "code"
    args = ["--wait"]
