{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

ansible-galaxy collection install -r ~/.bootstrap/requirements.yml
ansible-galaxy role install -r ~/.bootstrap/requirements.yml
ansible-playbook ~/.bootstrap/setup.yml --ask-become-pass

echo "Ansible setup complete."

{{ end -}}
